.machine {
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #888;
  box-shadow: 0 0 10px #888;
  border-radius: 1rem;
}

.machine-balance {
  display: block;
  width: 70%;
  border-radius: 0.5rem;
  font-size: 2em;
  margin: 1rem auto;
  box-shadow: 0 0 10px #888;
  color: #fff;
  background-color: rgb(63, 62, 62);
  text-shadow: 1px 1px 2px black;
  cursor: default;
}

.machine-button {
  margin: 1rem;
  width: 5rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  background-color: rgb(99, 141, 0);
  text-shadow: 1px 1px 2px black;
  box-shadow: 0 0 5px #888;
  cursor: pointer;
  transition: all 0.8s;
}

.machine-button-change {
  display: block;
  margin: 1rem auto;
  width: 12rem;
  background-color: rgb(205, 17, 17);
}

.machine-button-change:disabled {
  cursor: no-drop;
  background-color: rgb(206, 17, 17, 0.7);
}

.machine-button:hover {
  box-shadow: 0 0 10px #888;
}
